<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <% if (htmlWebpackPlugin.options.description) { %>
  <meta name="description" content="<% htmlWebpackPlugin.options.description %>">
  <% } %>

  <% if (htmlWebpackPlugin.options.mobileThemeColor) { %>
  <meta name="theme-color" content="<% htmlWebpackPlugin.options.mobileThemeColor %>">
  <meta name="apple-mobile-web-app-status-bar-style" content="<% htmlWebpackPlugin.options.mobileThemeColor %>">
  <% } %>

  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
  <div id="app"></div>
</body>
</html>
